* {
    padding: 0;
    margin: 0;
  }
  .single-box {
    width: 1rem;
    height: 1rem;
    background-color: rgb(8, 170, 8);
  }
  
  .snakeBlock {
    background-color: rgb(245, 86, 86);
  }
  .snake-container {

    margin-top: -20px;
  }
  .foodBlock {
    background-color: yellow;
  }
  .snakeHead {
    border-radius: 50%;
  }
  #main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  .score-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
  }
.score-container > div {
  font-size: 1.5rem;
  font-weight: 600;

}
#game-over {
  text-align: center;
  font-size: 2rem;
  color: red;
  height: 3rem;
}